/* UTILITIES */
.center {
	text-align: center;
}

.button {
	margin: 3px 8px 3px 8px;
}

/* HEADER */
.header {
	display: inline-flex;
	flex-wrap: wrap;
	padding: 30px;
}

.big-title {
	font-size: 3em;
	align-self: baseline;
}

.subtitle {
	padding: 10px;
	align-self: baseline;
	font-size: 1.3em;
}

.logout {
	align-self: baseline;
	margin-right: auto;
}

/* JUMBOTRON */
.jumbotron {
	border: 1px dotted gray;
	border-radius: 25px;
	height: 600px;
	padding: 15px;
}

.control {
	height: 50px;
	display: inline-block;
	margin 0 auto;
}

.left-ticker {
	border: 1px dotted lightgray;
	border-radius: 15px;
	height: 550px;
	padding: 5px;

}

.right-ticker {
	border: 1px dotted lightgray;
	border-radius: 15px;
	height: 550px;
	padding: 5px;
}

.ticker-checkbox-set {
	display: inline-block;
	padding: 20px;
}

/* inputs */
.inputset {
	padding: 8px;
}

.first-set-inputs {
	display: inline-flex;
	flex-wrap: wrap;
}

.second-set-inputs {
	display: inline-flex;
	flex-wrap: wrap;
}

.dininghall {
	display: inline-flex;
	flex-wrap: wrap;
}

.checkbox-set {
	padding: 20px;
}
